
:root{
    --grid-size:1rem;
    
}

*{
  box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
.container{
    display: grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer"
    ;
    grid-gap: .2rem;
    text-align: center;

}

nav{
  background:#a7ffeb;
  grid-area: nav;
}
main{
  background:#84ffff;
  grid-area: main;
}

#sidebar{
  background:#18FFFF;
  grid-area: sidebar;
  
}

#content1{
    background:#6fffd2;
    grid-area: content1;
}
#content2{
  background:#64ffda;
  grid-area: content2;

}
#content3{
  background:#73ffba;
  grid-area: content3;
}

footer{
      background:#1de9b6;
      grid-area: footer;
}


@media screen and (max-width:600px){
  .container{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
          "nav"
          "sidebar"
          "main"
          "content1"
          "content2"
          "content3"
          "footer"
        ;
  }
}
